.profile-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.edit-button,
.save-button {
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover,
.save-button:hover {
  background-color: #166fe5;
}

.save-button {
  margin-left: 10px;
}